<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>fav</title>
</head>
<body>
    <header>
        <h1>Jokes about us(Programmers XD)</h1>
        <ul>

            <li><a href="/">Home</a></li>
            <li><a href="/loadfav">Favorite Jokes</a></li>
            <li><a href="/random">Random Joke</a></li>
        </ul>
    </header>
    <section id="container">
        <%  myJokes.forEach((ele)=>{%>
              <div>
                 
                  <h3><%ele.type%></h3>
                  <h4><%=ele.setup%></h4>
                  <p><%=ele.punchline%></p>
                  <form action="/detailes/<%=ele.id%>" method="post">
                  <input id="btn" type="submit" value="VIEW DETAILES">
                  </form>
              </div>
         <% })%>
      </section>
</body>
</html>