<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="container">
        <%  myJokes.forEach((i,ele)=>{%>
              <div>
                  <h2>Joke#<%=i%></h2>
                  <h3><%ele.type%></h3>
                  <h4><%=ele.setup%></h4>
                  <p><%=ele.punchline%></p>
                  <form action="/detailes/<%=ele.id%>" method="post">
                  <input type="submit" value="VIEW DETAILES">
                  </form>
              </div>
         <% })%>
      </section>
</body>
</html>