<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>random</title>
</head>
<body>
    <section id="container">
      <%  allJokes.forEach((ele)=>{%>
            <div>
                
                <h3><%ele.type%></h3>
                <h4><%=ele.setup%></h4>
                <p><%=ele.punchline%></p>
                
            </div>
       <% })%>
    </section>
</body>
</html>